body{
    margin:0;
    padding:0;
}
*{
    margin:0;
}
nav{
    font-family:'Times New Roman', Times, serif;
    font-weight:400;
    font-size:20px;
    width:auto;
    background-color:rgba(0,0, 0,0.9);
   top:0; 

}
nav ol{
    list-style-type:none;
    display:flex;
    justify-content: space-between;
    
}
nav ol a{
    text-decoration:none;
    color:white;
   
   

   

}
nav ol a:hover{
    color:white;
    border-bottom:2px solid white;
    background-color:red;
    
}

div{
    width:auto;
    height:650px;
    font-family:cursive;
    padding:0px;
    
}

.fpage{
    color:white;
    font-size:40px;
    background-image:url("practice.jpg");
    background-repeat:no repeat;
    background-attachment:fixed;
    background-position:right bottom;
    background-size:100%;

}
.fpage p{
    padding-top:20px;
    margin-left:40px;

}
.fpage p strong{
    color:red;
}

.spage{
    background-image:url("practice1.jpg");
    color:white; 
    font-size:40px;
    background-size:auto 100%;
    letter-spacing:5px;
    
    text-shadow: 2px 4px 5px rgb(167, 46, 46);
}
.tpage{
    background-color:rgba(100, 100, 100, 0.801);
    color:rgb(0, 0, 0);
    font-size:40px;
    font-variant:bold;
    
   
}
.tpage p{
    text-align:center;
    padding:20px;
}
.page4{
    background-color:brown;
    color:white;
    font-size:40px;
}
.fpage header{
    text-align: center;
    padding:60px;

}
 header h3{
    border-bottom: 2px inset white;
}
.spage p{
    text-align:center;
    padding:20px;
}
.spage ol{
    margin-left:50px;
    padding:30px;
   
}
.spage ol li{
    display:inline;
    padding:35px;
}
.tpage ul{
    margin-left:40px;
    padding:30px;
}
.page4 p{
    text-align:center;
    padding:40px;
}
.page4 ol{
    padding:40px;
    margin-left:40px;
    

}
.page4 ol li{
    display:inline-block;
    border:4px solid;
    height:400px;
    
}
.content{
    display:flex;
    background-color:red;
    border:4px;
    box-sizing:border-box;
}
.content div{
    height:500px;
    width:50%;
    border:5px solid;
    margin:100px;

}
.content .menu{
    background-color:blue;
}
.content .menu ul{
    padding:30px;
    list-style-type:square;
    background-color:green;

}
.content .section{

    
  
    background-color:orange;
}