body{
    margin:0;
    padding:0;
    background:url(bg-pattern-top.png) no-repeat, url(bg-pattern-bottom.png) no-repeat;
    height:100vh;
    background-color:hsl(183, 57%, 43%);
    background-size:46%;
    background-position:top -300% left -5%,bottom -300% right -5%;
   
    
}
*{
  margin:0;
  padding:0;  
}
.profile_card{
    width:380px;
    height:400px;
    background-color:white;
    border-radius:15px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.profile_card img:nth-child(1){
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    width:100%;
    height:145px;
}
.profile_card img:nth-child(2){
   margin-top:-60px;
   border:5px solid white;
   border-radius:50%;
   margin-left:140px;
   margin-right:65px;

}
.profile_card p:first-of-type{
    text-align:center;
    font-weight:bolder;
    font-family:sans-serif;
    margin-top:6px;

}
.profile_card p:first-of-type a{
    margin-left:8px;
    color:grey;
}
.profile_card p:nth-of-type(2){
    text-align:center;
    margin-top:5px;
    color:grey;
    margin-top:6px;
}
.profile_card hr{
    width:100%;
    margin-top:50px;
   
}
.profile_card ol{
    list-style-type:none;
    display:flex;
    justify-content:space-around;
    padding:30px;
}
.profile_card ol li{
    font-weight:bolder;
    font-family:sans-serif;
    font-size:18px;
}
.profile_card ul{
    list-style-type:none;
    display:flex;
    justify-content:space-around;
    margin-top:-20px;
    
}
.profile_card ul li{
    color:grey;
    font-size:12px;
    letter-spacing:2px;
    font-size:10px;
   
}
.profile_card ul li:nth-child(2){
   margin-left:-40px;
}
.profile_card ul li:nth-child(3){
    margin-left:-25px;
}
@media  only screen and (max-width:500px){
    body{
        background-position:top 1000% left 20%,bottom 1000% right 20%;
    }
    
}


